<div class="col">
<div class="row">
  <div class="col">
    <form>
      <div class="form-group">
        <label for="task">Task</label>
        <input type="text"
          class="form-control"
          id="task"
          aria-describedby="emailHelp"
          name="name"
          [(ngModel)]="name">
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select id="category"
          class="form-control"
          name="category"
          [(ngModel)]="category">
          <!-- <option value="CDACPUNE">CDACPUNE</option>
          <option value="CDACMUMBAI">CDACMUMBAI</option>
          <option value="CDACHYDERABAD">CDACHYDERABAD</option>
          <option value="CDACNOIDA">CDACNOIDA</option> -->
          <option *ngFor="let cat of cname">{{cat.category}}</option>
          </select>
      </div>
      <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div> -->
      <div class="form-grotasksup form-check">
        <input type="checkbox"
          class="form-check-input"
          name="status"tasks
          [(ngModel)]="status">
        <label class="formtasks-check-label" for="status">Completed</label>
      </div>
      <button class="btn btn-warning mr-1" type="reset">Clear</button>
      <button class="btn btn-primary" (click)="onSubmitClicked()">Submit</button>
    </form>
  </div>
</div>
</div>